.myCheckbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: solid 2px #90caf9;
  cursor: pointer;
  appearance: none;
  user-select: text;
  &:focus {
    outline: none;
  }
  &:disabled {
    border-color: #aaa;
    cursor: not-allowed;
  }
  &:checked {
    background-color: #90caf9;
    background-size: contain;
    background-position: center center;
    // background-image: url('#{$icon-path}/form/icon-checked.svg');
    &:disabled {
      background-color: #aaa;
      background-image: none;
    }
  }
}

